* {
    margin: 0;
    padding: 0;
    --darkblue: #192653;
    --lightblue: #254a7c;
    --yellow: #fdcb00;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #8b9699, #8693a7);
    color: #222;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    height: 100vh;
}

/* * * CARD STYLEs * * */

.img-drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.img-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 235px;
    margin-bottom: 20px;
    border: 5px dotted #fdcb00;
    border-radius: 15px;
    box-shadow: 0 0 50px #254a7c inset;
    color: #192653;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-drop-small {
    display: flex;
    align-items: center;
    text-align: center;
    border: 5px dotted #fdcb00;
    border-radius: 40px 12px 55px 12px;
    box-shadow: 0 0 50px #254a7c inset;
    color: #192653;
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}

.active {
    border-color: #ffcb05;
    background-color: #254a7c;
    outline: 5px solid #192653;
    color: #ffcb05;
}

.img-container {
    position: relative;
    margin: 10px;
    width: 452px;
    height: 628px;
}

#card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px black;
    background-size: contain;
    background-repeat: no-repeat;
}

.card {
    background-image: url(img/card_back.png);
    background-color: #192653;
}

#question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#question-mark > p {
    -webkit-text-stroke: 4px #254a7c;
	-webkit-text-fill-color: #ffcb05;
    font-size: 200pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px #192653;
}

.card-container {
    width: 93%;
    height: 94%;
    margin: 3%;
    display: none;
}

/* * * CARD TOP * * */

.card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50.5%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14%;
    margin-left: 17%;
    margin-right: 9.8%;
}

.card-name {
    font-size: 21pt;
}

.card-hp {
    padding-top: 7px;
    font-size: 7pt;
}

.hp {
    font-size: 19pt;
    font-family: sans-serif;
}

/* picture */
.card-picture {
    position: relative;
    align-self: center;
    height: 80%;
    width: 91%;
    padding-left: 5px;
}

.small-img {
    display: none;
    position: absolute;
    top: -11px;
    left: -13px;
    width: 51px;
    height: 50px;
    border-radius: 14px 6px 20px 6px;
    overflow: hidden;
}

.card-picture > p {
    position: absolute;
    top: 2px;
    left: 46px;
    font-style: italic;
    font-size: 8pt;
    color: #333;
    text-shadow: 0 0 4px rgb(238, 238, 238);
}

.card-img {
    position: absolute;
    top: 28.7%; 
    right: 49.8%;
    transform: translate(50%,-50%);
    width: 380px;
    height: 235px;
}

.card-img > img,
.small-img > img {
    width: 100%;
    height: 100%;
}

.stats-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 6.5%;
}

.stats-text > p {
    font-size: 7pt;
    color: #222;
    padding: 5px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 2px white;
}

/* * * CARD BOTTOM * * */

.card-bottom {
    display: flex;
    height: 49.5%;
    flex-direction: column;
    justify-content: space-between;
}

/* attacks & ability */

.ability-container img {
    position: relative;
    height: 28px;
    right: 3px;
}

.ability-header {
    display: flex;
    flex-direction: row;
}

.ability-header > p {
    color: #8f000af3;
    font-size: 17pt;
    padding-left: 2px;
}

.ability-container > p {
    position: relative;
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 9pt;
    padding: 0 5px 3px 5px;
}

.attack-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 13px 0 13px;
    height: 75%;
}

.attack-main {
    position: relative;
    display: flex;
    align-items: center;
}

.attack-main p {
    font-size: 17pt;
    font-weight: bold;
}

.attack-cost {
    position: relative;
}

.attack-cost img {
    width: 28px;
    height: 28px;
}

.attack-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 120px;
}

.attack-damage {
    font-family: sans-serif;
    position: absolute;
    right: 0px;
}

.attack-text {
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 9pt;
    padding: 3px 5px 5px 6px;
}

.attack-cost {
    display: flex;
    flex-direction: row;
}


/* footer */
.card-footer {
    height: 25%;
}

.card-footer p {
    color: #111;
}

.footer-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38%;
}

.footer-bar p {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #111;
    padding-top: 1px;
    font-size: 11pt;
    padding-left: 3px;
}

#retreat-img img,
#weakness-img img,
#resistance-img img {
    height: 14px;
    width: 14px;
}

.weakness {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 13%;
}

#weakness-img {
    display: flex;
    align-items: center;
}

.resistance {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 41.5%;
}

#resistance-img {
    display: flex;
    align-items: center;
}

#retreat-img {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    left: 75%;
}

/* * * INPUT STYLES * * */

.input-container {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 15px solid #192653;
    background-color: #254a7c;
    background-image: linear-gradient(to bottom right, #567296, var(--lightblue));
    font-size: 16pt;
    border-radius: 1rem;
    box-shadow: 0 2px 5px black;
    margin: 10px;
}

.input-container label,
.input-container p,
.input-container h2 {
    -webkit-text-stroke: 1px #192653;
	-webkit-text-fill-color: #fdcb00;
    color: #fdcb00;
    margin: 4px;
}

.input-container h2 {
    text-align: center;
}

.input-container li:hover {
    cursor: pointer;
}

.input-container ul {
    position: relative;
    z-index: 900;
}

/* * * FORM * * */

.arrow {
    position: relative;
    border: solid var(--yellow);
    border-width: 0 3px 3px 0;
    display: block;
    padding: 3px;
    height: 5px;
    width: 5px;
}

.arrowbox {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, var(--darkblue),var(--lightblue));
    border-top: 3px solid var(--darkblue);
    border-bottom: 3px solid var(--darkblue);
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.arrowbox:hover {
    cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
    top: 8px;
    right: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
    top: 8px;
    left: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
    top: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 4px;
}

input,
select {
    font-size: 12pt;
}

label,
input {
    margin: 4px;
}

input,
textarea,
option,
select {
    background-color: rgb(212, 211, 211);
    box-shadow: 0 0 10px #777 inset;
}

textarea,
option,
input,
select {
    font-family: monospace;
}


/* * * NAME INPUTS * * */

.name-container {
    margin: 10px;
}

.name-container > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

#name {
    width: 140px;
}

#evolves-from {
    width: 140px;
}

.type-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#type-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#type-list {
    display: none;
}

.current-type {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    outline: 2px solid var(--darkblue);
    border-radius: 6px;
    background-color: rgb(189, 189, 189);
    box-shadow: 0 0 10px #777 inset;
    margin: 5px 0 5px 0;
}

.type-selector p {
    margin-right: 8px;
}

.type-selector ul {
    display: flex;
    list-style-type: none;
    background-color: rgb(189, 189, 189);
    border-radius: 6px;
    outline: 2px solid var(--darkblue);
    box-shadow: 0 0 10px #777 inset;
}

.type-selector li {
    position: relative;
    width: 36px;
    height: 36px;
}

.current-type img {
    width: 30px;
    height: 30px;
    padding: 3px;
    position: absolute;
}

/* * * STATS INPUT * * */

.stats-input,
.attack-input {
    padding: 0;
    margin: 0;
}

.input-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 50px;
    background: linear-gradient(to bottom, #254a7c, #192653, #254a7c);
    border-left: 1px solid var(--darkblue);
    border-right: 1px solid var(--darkblue);
    margin: 5px;
}

.input-header:hover {
    cursor: pointer;
}

.closed {
    border-top: 3px solid var(--darkblue);
    border-bottom: 3px solid var(--darkblue);
    border-radius: 10px 10px 10px 10px;
}

.opened {
    border-top: 3px solid var(--darkblue);
    border-bottom: 1px solid var(--darkblue);
    border-radius: 10px 10px 2px 2px;
}

.border-bottom {
    border-bottom: 3px solid var(--darkblue);
    border-radius: 10px;
}

.input-body {
    margin: 5px;
}

#stats-body {
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#stats-body > div {
    display: flex;
    flex-direction: row;
}

#pokedex-number {
    width: 55px;
}

.height-div,
.weight-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.height-div > input {
    width: 35px;
}

.weight-div > input {
    width: 70px;
}

#category {
    width: 70px;
}

/* * * ATTACKS INPUT * * */

.attack-body {
    height: 0;
    transition: height 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attack1,
#attack2 {
    overflow: hidden;
}

#attack1-name,
#attack2-name {
    width: 190px;
    margin: 10px;
}

.damage-container {
    position: relative;
    margin-top: 4px;
}

#attack-damage-1,
#attack-damage-2 {
    width: 60px;
}

.attack-cost-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-top: 2px;
    gap: 5px;
}


#attack-cost-list-1-1,
#attack-cost-list-1-2,
#attack-cost-list-1-3,
#attack-cost-list-1-4,
#attack-cost-list-2-1,
#attack-cost-list-2-2,
#attack-cost-list-2-3,
#attack-cost-list-2-4,
#resistance-list,
#weakness-list {
    display: none;
}

/* * * ABILITY INPUT * * */

#ability-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

/*** FOOTER FORM ***/

.footer-input {
    margin: 10px;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#update {
    display: inline-block;
    height: 50px;
    width: 200px;
    border: none;
    border-top: 3px solid var(--darkblue);
    border-bottom: 3px solid var(--darkblue);
    border-radius: 10px 10px 10px 10px;
    font-size: 20pt;
    font-weight: bold;
    background: linear-gradient(to bottom, #192653, #254a7c);
    color: #fdcb00;
}

#update:hover,
#reload:hover {
    cursor: pointer;
    color: white;
}

#reload {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: none;
    border-top: 3px solid var(--darkblue);
    border-bottom: 3px solid var(--darkblue);
    border-radius: 10px 10px 10px 10px;
    font-size: 22pt;
    margin-left: 5px;
    font-weight: bold;
    color: #fdcb00;
    background: linear-gradient(to bottom, #192653, #254a7c);
}

/* * * TYPES * * */

.card-dark-basic {
    background-image: url(img/Basic/SS_Basic_Dark.png)
}
.card-dark-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Dark.png')
}
.card-dark-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Dark.png')
}

.card-electric-basic {
    background-image: url(img/Basic/SS_Basic_Lightning.png)
}
.card-electric-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Lightning.png')
}
.card-electric-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Lightning.png')
}

.card-fighting-basic {
    background-image: url(img/Basic/SS_Basic_Fighting.png)
}
.card-fighting-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Fighting.png')
}
.card-fighting-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Fighting.png')
}

.card-fire-basic {
    background-image: url(img/Basic/SS_Basic_Fire.png);
}
.card-fire-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Fire.png')
}
.card-fire-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Fire.png')
}

.card-grass-basic {
    background-image: url(img/Basic/SS_Basic_Grass.png)
}
.card-grass-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Grass.png')
}
.card-grass-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Grass.png')
}

.card-metal-basic {
    background-image: url(img/Basic/SS_Basic_Metal.png)
}
.card-metal-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Metal.png')
}
.card-metal-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Metal.png')
}

.card-normal-basic {
    background-image: url(img/Basic/SS_Basic_Colorless.png)
}
.card-normal-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Colorless.png')
}
.card-normal-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Colorless.png')
}

.card-psychic-basic {
    background-image: url(img/Basic/SS_Basic_Psychic.png)
}
.card-psychic-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Psychic.png')
}
.card-psychic-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Psychic.png')
}

.card-water-basic {
    background-image: url(img/Basic/SS_Basic_Water.png)
}
.card-water-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Water.png')
}
.card-water-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Water.png')
}