* {
    margin: 0;
    padding: 0;
}

#canvas {
    background-color: #111;
    width: 353px;
    height: 227px;
}

.card-picture {
    outline: 1px solid white;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #111;
    background-color: #8b9699;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* * * INPUT STYLES * * */

.input-container {
    border: 15px solid #192653;
    background-color: #254a7c;
    background-image: radial-gradient(#254a7c, #6f7c94, #254a7c);
    font-size: 16pt;
    margin: 1rem;
    border-radius: 1rem;
    padding: 5px;
    box-shadow: 0 2px 5px black;
}

.input-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-container label,
.input-container p,
.input-container h2 {
    -webkit-text-stroke: 1px #192653;
	-webkit-text-fill-color: #fdcb00;
}

.input-container h2 {
    text-align: center;
}

.input-container li:hover {
    cursor: pointer;
}

.input-container ul {
    position: relative;
    z-index: 900;
}

/* * * CARD STYLEs * * */

.img-drag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 390px;
    height: 50px;
    border: 5px dotted black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
    border-color: #ffcb05;
    background-color: #254a7c;
    outline: 5px solid #192653;
    border-radius: 10px;
    color: #ffcb05;
}

#card {
    margin: 1rem;
    border-radius: 1.2rem;
    width: 378px;
    height: 527px;
    padding: 12px;
    padding-bottom: 18px;
    box-shadow: 5px 5px 15px black;
}

#question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#question-mark > p {
    -webkit-text-stroke: 4px #254a7c;
	-webkit-text-fill-color: #ffcb05;
    font-size: 200pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px #192653;
}

.card {
    display: flex;
    justify-items: center;
    align-content: center;
    background-image: url(img/pokemon_card_back.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.card h1 {
    font-size: 15pt;
}

.card-container {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 0.5rem;
    border-top: 3px ridge rgb(250, 206, 61);
    border-left: 2px ridge rgb(197, 168, 73);
    border-right: 1px solid rgb(165, 147, 88);
    border-bottom: 1px solid rgb(165, 147, 88);
    display: none;
}

/* * * CARD TOP * * */

.card-top {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
}
.card-header p {
    margin: 0;
    font-weight: bold;
    font-size: 16pt;
}

/* header right */
.card-header-right {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.basic {
    position: absolute;
    left: -6px;
    top: 7px;
    width: 32px;
    height: 12px;
    background-image: linear-gradient(to right, rgb(163, 163, 163), rgb(230, 230, 230) , rgb(184, 183, 183));
    border: 1px ridge #777;
    border-radius: 5px;
    border-bottom: 2px ridge #777;
    padding: 0 2px 0 3px;
}

.basic p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
    color: #333;
}

.card-name {
    padding-top: 4px;
    padding-left: 46px;
}


/* header left */
.card-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-header-left span {
    font-size: 14pt;
    font-weight: bold;
}
.card-header-left h2 {
    position: relative;
    font-size: 8pt;
    bottom: -2px;
}
.card-header-left > .hp {
    margin-right: 1rem;
}

.type-container {
    padding-right: 5px;
    padding-left: 3px;
}

/* picture */
.card-picture {
    margin: auto;
    height: 86%;
    width: 94%;
}
.card-picture > img {
    height: 100%;
    width: 100%;
    outline: 4px ridge rgb(197, 196, 196);
}

/* * * CARD BOTTOM * * */

.card-bottom {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
}

/* attacks */
.attack-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
    height: 210px;
}

.attack {
    margin: 10px 0 10px 0;
}

.attack-main {
    position: relative;
    display: flex;
    align-items: center;
}

.attack-main p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

.attack-cost {
    position: relative;
}

.attack-name {
    position: absolute;
    left: 115px;
}

.attack-damage {
    position: absolute;
    right: 0px;
}

.attack-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
}

.attack-cost {
    display: flex;
    flex-direction: row;
}


/* footer */
.card-footer {
    position: relative;
    display: flex;
    justify-content: center;
}

.card-footer p {
    color: #111;
}

.footer-bar {
    position: absolute;
    bottom: 30px;
    width: 390px;
    display: flex;
    flex-direction: row;
    height: 20px;
}

.footer-bar p {
    font-size: 8pt;
}

.footer-bar img {
    width: 12px;
    height: 12px;
}

.weakness-bar {
    background-image: linear-gradient(to right, rgb(197, 197, 197), rgb(161, 161, 161) , rgb(197, 197, 197), rgb(167, 165, 165), rgb(197, 197, 197));
    width: 64%;
    border: 1px ridge #777;
    border-radius: 5px;
    border-bottom: 2px ridge #777;
}

.weakness {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weakness-text {
    position: absolute;
    left: 10px;
    top: 2px;
}

.weakness img {
    position: absolute;
    left: 72px;
    top: 2px;
}

.weakness-number {
    position: absolute;
    left: 86px;
    top: 2px;
}

.weakness-bar > p {
    position: absolute;
    left: 116px;
    color: #222;
}

.resistance {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resistance-text {
    position: absolute;
    right: 57px;
    top: 2px;
}

.resistance img {
    position: absolute;
    right: 32px;
    top: 2px;
}

.resistance-number {
    position: absolute;
    right: 14px;
    top: 2px;
}

.retreat-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 36%;
    border: 1px ridge #777;
    background-color: #999;
    background-image: linear-gradient(to right, rgb(197, 197, 197), rgb(161, 161, 161) , rgb(197, 197, 197), rgb(167, 165, 165));
    border-radius: 5px;
    margin-left: 1rem;
    border-bottom: 2px ridge #777;
}

.retreat {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.retreat-text {
    position: relative;
    padding: 0 12px 0 10px;
}

.retreat img {
    position: relative;
}

/* * * FORM * * */

label,
input {
    margin: 4px;
}

input,
textarea,
option,
select {
    background-color: rgb(212, 211, 211);
    box-shadow: 0 0 10px #777 inset;
}

textarea,
option,
input,
select {
    font-family: monospace;
}


/* * * TYPE * * */

#type-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#type-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#type-list {
    display: none;
}

.type-button {
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border: 1px solid black;
    background-color: rgb(78, 114, 114);
    text-align: center;
}

.type-button:hover {
    cursor: pointer;
}

.current-type {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    outline: 1px solid black;
    background-color: rgb(189, 189, 189);
    box-shadow: 0 0 10px #777 inset;
    margin: 5px 0 5px 0;
}

#type-selector p {
    margin-right: 8px;
}

#type-selector ul {
    width: 32px;
    list-style-type: none;
    outline: 1px solid black;
    background-color: rgb(189, 189, 189);
}

#type-selector li {
    position: relative;
    width: 32px;
    height: 32px;
}

.current-type img {
    width: 25px;
    height: 25px;
    padding: 4px;
    position: absolute;
}

/* * * ATTACKS * * */

.attack-cost-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.attacks-selector,
.weakness-selector,
.resistance-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.attacks-selector p {
    margin-right: 8px;
}

.attacks-selector ul {
    z-index: 900;
    list-style-type: none;
    outline: 1px solid black;
}

.attacks-selector li,
.weakness-selector li,
.resistance-selector li {
    width: 32px;
    height: 32px;
    background-color: rgb(189, 189, 189);
}

.attack-dropdown,
.weakness-dropdown,
.resistance-dropdown {
    display: flex;
    flex-direction: row;
}

#attack-cost-list-1-1,
#attack-cost-list-1-2,
#attack-cost-list-1-3,
#attack-cost-list-1-4,
#attack-cost-list-2-1,
#attack-cost-list-2-2,
#attack-cost-list-2-3,
#attack-cost-list-2-4 {
    display: none;
}

.cost-1-1,
.cost-1-2,
.cost-1-3,
.cost-1-4 {
    background-color: white;
    z-index: 900;
}

/*** FOOTER FORM ***/

#resistance-list,
#weakness-list {
    list-style-type: none;
    outline: 1px solid black;
    display: none;
}

.weakness-selector > p,
.resistance-selector > p {
    margin: 5px;
}

#update {
    display: block;
    margin: 15px auto 15px auto;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 0px 0px 2px #192653;
    background: linear-gradient(to right, #192653, #254a7c);
    transition: 0.3s;
    color: #fdcb00;
}

#update:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px white;
}

/* * * TYPES * * */

.card-plant {
    background-image: radial-gradient(#9cdb5d, #4ea327,#79aa49);
}

.card-fire {
    background-image: radial-gradient(#ef7570, #eb4038,#d42e35);
}

.card-water {
    background-image: radial-gradient(#94caff, #00a6e9,#1171ae);
}

.card-electric {
    background-image: radial-gradient(#f4e609, #f7d013, #f7bc0f);
}

.card-psychic {
    background-image: radial-gradient(#d198c4, #ad72a8,#82519e);
}

.card-fighting {
    background-image: radial-gradient(#ef7d45, #c44d25,#ca4921);
}

.card-normal {
    background-image: radial-gradient(#f7f6f6, #ece8e7,#bfb7b5);
}

.card-dark {
    background-image: radial-gradient(#45758b, #314b53,#0f2b30);
}

.card-metal {
    background-image: radial-gradient(#c7bfb5 , #a7a190 , #a19c8e);
}