* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8b9699;
    color: #111;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* * * INPUT STYLES * * */

.input-container {
    position: relative;
    border: 15px solid #192653;
    background-color: #254a7c;
    background-image: radial-gradient(#254a7c, #6f7c94, #254a7c);
    font-size: 16pt;
    border-radius: 1rem;
    padding: 5px;
    box-shadow: 0 2px 5px black;
}

.input-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-container label,
.input-container p,
.input-container h2 {
    -webkit-text-stroke: 1px #192653;
	-webkit-text-fill-color: #fdcb00;
    color: #fdcb00;
}

.input-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input-container li:hover {
    cursor: pointer;
}

.input-container ul {
    position: relative;
    z-index: 900;
}

/* * * CARD STYLEs * * */

.img-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 400px;
    height: 175px;
    border: 5px dotted #fdcb00;
    box-shadow: 0 0 50px #254a7c inset;
    color: #192653;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 60px;
}

.img-drop-small {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 5px dotted #fdcb00;
    box-shadow: 0 0 50px #254a7c inset;
    color: #192653;
    width: 300px;
    height: 140px;
}

.active {
    border-color: #ffcb05;
    background-color: #254a7c;
    outline: 5px solid #192653;
    border-radius: 10px;
    color: #ffcb05;
}

.img-container {
    position: relative;
    margin: 20px;
    width: 452px;
    height: 628px;
}

#card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px black;
}

.card {
    background-image: url(img/card_back.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#question-mark > p {
    -webkit-text-stroke: 4px #254a7c;
	-webkit-text-fill-color: #ffcb05;
    font-size: 200pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px #192653;
}

.card-container {
    width: 93%;
    height: 94%;
    margin: 3%;
    display: none;
}

/* * * CARD TOP * * */

.card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50.5%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14%;
    margin-left: 17%;
    margin-right: 10%;
}

.card-name {
    font-size: 21pt;
}

.card-hp {
    padding-top: 5px;
    font-size: 9pt;
}

.hp {
    font-size: 19pt;
    font-weight: bold;
}

/* picture */
.card-picture {
    position: relative;
    align-self: center;
    height: 80%;
    width: 91%;
    padding-left: 5px;
}

.small-img {
    display: none;
    position: absolute;
    top: -11px;
    left: -13px;
    width: 51px;
    height: 50px;
    border-radius: 14px 6px 20px 6px;
    overflow: hidden;
}

.card-img {
    position: absolute;
    top: 28.7%; 
    right: 49.8%;
    transform: translate(50%,-50%);
    width: 380px;
    height: 235px;
}

.card-img > img,
.small-img > img {
    width: 100%;
    height: 100%;
}

.top-flavor-text {
    height: 6.5%;
}

/* * * CARD BOTTOM * * */

.card-bottom {
    display: flex;
    height: 49.5%;
    flex-direction: column;
    justify-content: space-between;
}

/* attacks */
.attack-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 13px 0 13px;
    height: 75%;
}

.attack {
    margin: 10px 0 10px 0;
}

.attack-main {
    position: relative;
    display: flex;
    align-items: center;
}

.attack-main p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17pt;
    font-weight: bold;
}

.attack-cost {
    position: relative;
}

.attack-cost img {
    width: 28px;
    height: 28px;
}

.attack-name {
    position: absolute;
    left: 118px;
}

.attack-damage {
    position: absolute;
    right: 0px;
}

.attack-text {
    font-family: sans-serif, Arial;
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
}

.attack-cost {
    display: flex;
    flex-direction: row;
}


/* footer */
.card-footer {
    height: 25%;
}

.card-footer p {
    color: #111;
}

.footer-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38%;
}

.footer-bar p {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #111;
    padding-top: 1px;
    font-size: 11pt;
    padding-left: 3px;
}

#retreat-img img,
#weakness-img img,
#resistance-img img {
    height: 14px;
    width: 14px;
}

.weakness {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 13%;
}

#weakness-img {
    display: flex;
    align-items: center;
}

.resistance {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 41.5%;
}

#resistance-img {
    display: flex;
    align-items: center;
}

#retreat-img {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    left: 75%;
}

/* * * FORM * * */

label,
input {
    margin: 4px;
}

input,
textarea,
option,
select {
    background-color: rgb(212, 211, 211);
    box-shadow: 0 0 10px #777 inset;
}

textarea,
option,
input,
select {
    font-family: monospace;
}


/* * * TYPE * * */

#type-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#type-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#type-list {
    display: none;
}

.type-button {
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border: 1px solid black;
    background: linear-gradient(to bottom, #192653, #254a7c);
    color: #fdcb00;
    font-size: 14pt;
    text-align: center;
}

.type-button:hover {
    cursor: pointer;
}

.current-type {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    outline: 1px solid black;
    background-color: rgb(189, 189, 189);
    box-shadow: 0 0 10px #777 inset;
    margin: 5px 0 5px 0;
}

#type-selector p {
    margin-right: 8px;
}

#type-selector ul {
    width: 32px;
    list-style-type: none;
    outline: 1px solid black;
    background-color: rgb(189, 189, 189);
}

#type-selector li {
    position: relative;
    width: 32px;
    height: 32px;
}

.current-type img {
    width: 25px;
    height: 25px;
    padding: 4px;
    position: absolute;
}

/* * * ATTACKS * * */

.attack-cost-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.attacks-selector,
.weakness-selector,
.resistance-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.attacks-selector p {
    margin-right: 8px;
}

.attacks-selector ul {
    z-index: 900;
    list-style-type: none;
    outline: 1px solid black;
}

.attacks-selector li,
.weakness-selector li,
.resistance-selector li {
    width: 32px;
    height: 32px;
    background-color: rgb(189, 189, 189);
}

.attack-dropdown,
.weakness-dropdown,
.resistance-dropdown {
    display: flex;
    flex-direction: row;
}

#attack-cost-list-1-1,
#attack-cost-list-1-2,
#attack-cost-list-1-3,
#attack-cost-list-1-4,
#attack-cost-list-2-1,
#attack-cost-list-2-2,
#attack-cost-list-2-3,
#attack-cost-list-2-4 {
    display: none;
}

.cost-1-1,
.cost-1-2,
.cost-1-3,
.cost-1-4 {
    background-color: white;
    z-index: 900;
}

/*** FOOTER FORM ***/

#resistance-list,
#weakness-list {
    list-style-type: none;
    outline: 1px solid black;
    display: none;
}

.weakness-selector > p,
.resistance-selector > p {
    margin: 5px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

#update {
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 20pt;
    font-weight: bold;
    background: linear-gradient(to bottom, #192653, #254a7c);
    color: #fdcb00;
}

#update:hover,
#reload:hover {
    cursor: pointer;
    color: white;
}

#reload {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 22pt;
    margin-left: 5px;
    font-weight: bold;
    color: #fdcb00;
    background: linear-gradient(to bottom, #192653, #254a7c);
    border-radius: 5px;
}

/* * * TYPES * * */

.card-dark-basic {
    background-image: url(img/Basic/SS_Basic_Dark.png)
}
.card-dark-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Dark.png')
}
.card-dark-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Dark.png')
}

.card-electric-basic {
    background-image: url(img/Basic/SS_Basic_Lightning.png)
}
.card-electric-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Lightning.png')
}
.card-electric-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Lightning.png')
}

.card-fighting-basic {
    background-image: url(img/Basic/SS_Basic_Fighting.png)
}
.card-fighting-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Fighting.png')
}
.card-fighting-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Fighting.png')
}

.card-fire-basic {
    background-image: url(img/Basic/SS_Basic_Fire.png);
}
.card-fire-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Fire.png')
}
.card-fire-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Fire.png')
}

.card-grass-basic {
    background-image: url(img/Basic/SS_Basic_Grass.png)
}
.card-grass-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Grass.png')
}
.card-grass-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Grass.png')
}

.card-metal-basic {
    background-image: url(img/Basic/SS_Basic_Metal.png)
}
.card-metal-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Metal.png')
}
.card-metal-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Metal.png')
}

.card-normal-basic {
    background-image: url(img/Basic/SS_Basic_Colorless.png)
}
.card-normal-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Colorless.png')
}
.card-normal-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Colorless.png')
}

.card-psychic-basic {
    background-image: url(img/Basic/SS_Basic_Psychic.png)
}
.card-psychic-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Psychic.png')
}
.card-psychic-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Psychic.png')
}

.card-water-basic {
    background-image: url(img/Basic/SS_Basic_Water.png)
}
.card-water-stage-1 {
    background-image: url('img/Stage 1/SS_Stage1_Water.png')
}
.card-water-stage-2 {
    background-image: url('img/Stage 2/SS_Stage2_Water.png')
}